<!doctype html>
<html>
	<head>
		<title>bsky custom handleimator(tm) hetzner version</title>
	</head>
	<body>
		<form action = "http://localhost:5000/login" method = "POST">
<p>( ͡° ͜ʖ ͡°) gimme your hetzner DNS API token ( ͡° ͜ʖ ͡°)</p> 
<p>(NOTE: DO NOT DO THIS UNLESS YOU KNOW WHAT YOU ARE DOING AND TRUST THE PERSON WHO SENT YOU TO THIS SITE)</p>
<p>PUT IT IN HERE: <input type = "text" name = "hetznerdnstoken" /></p>
<p><input type = "submit" value = "submit" /></p>
		</form>
	</body>
</html>
